---
layout: default
---

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(img/slides/1_1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered">
                                <h2 class="animation animated-item-1">Interdyscyplinarny Zespół</h2>
                                <p class="animation animated-item-2">ds. Rozwiązywania Problemów Chorób
                                    Odkleszczowych</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(img/slides/2_1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="animation animated-item-1">Naukowy panel</h2>
                                <p class="animation animated-item-2">służący do koordynacji badań i przedsięwzięć</p>
                                <br>
                                <a class="btn btn-md animation animated-item-3" href="#">Dowiedz się więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(img/slides/3_1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered">
                                <h2 class="animation animated-item-1">Badania nad biologią kleszczy,</h2>
                                <p class="animation animated-item-2">Obszary: szczepienia dzikich zwierząt, ograniczenie populacji gryzoni
                                    na miejskich terenach rekreacyjnych, immunologia, testy diagnostyczne</p>
                                <br>
                                <a class="btn btn-md animation animated-item-3" href="#">Dowiedz się więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon-angle-right"></i>
    </a>
</section><!--/#main-slider-->


<!-- Call to Action Bar -->
<div class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calltoaction-wrapper">
                    <h3>Witamy w <span style="color:#aec62c; text-transform:uppercase;font-size:24px;">ZESPOLE, </span>
                        zarejestruj się na naszą konferencję!</h3> <a href="/conference2017" class="btn btn-orange">TUTAJ!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Bar -->


<!-- Services -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <i class="icon-home"></i>
                    <h3>Misja</h3>
                    <p>Rozwiązanie problemów wywoływanych przez kleszcze</p>
                    <a href="#" class="btn">Czytaj dalej</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <i class="icon-briefcase"></i>
                    <h3>Zespół</h3>
                    <p>Uzyskanie efektu synergii, by poprzez wzajemne konsultacje doprowadzić do maksymalnego skrócenia
                        czasu potrzebnego na osiągnięcie celu</p>
                    <a href="/o/nas/2017/07/30/o-nas-naukowcy-zjednoczeni.html" class="btn">Czytaj dalej</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <i class="icon-calendar"></i>
                    <h3>Konferencja</h3>
                    <p>Już wkrótce!!</p>
                    <a href="/conference2017" class="btn">Zapraszamy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->


<hr>

<!-- Our Portfolio -->

<div class="section section-white">
    <div class="container">
        <div class="row">

            <div class="section-title">
                <h1>Nasze osiągnięcia</h1>
            </div>


            <ul class="grid cs-style-3">
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="/img/portfolio/tick-portfolio.jpg" alt="Inicjatywa">
                        <figcaption>
                            <h3>Inicjatywa</h3>
                            <span>Janusz Boratyński</span>
                            <a href="/o/nas/2017/03/06/zespol-pomysl.html">Przeczytaj</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="/img/portfolio/conf.jpg" alt="Konferencja">
                        <figcaption>
                            <h3>Konferencja</h3>
                            <span>Wrocław, X.2017</span>
                            <a href="/conference2017">Zaglądnij</a>
                        </figcaption>
                    </figure>
                </div>
                <!--
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="img/portfolio/1.jpg" alt="img01">
                        <figcaption>
                            <h3>Camera</h3>
                            <span>Jacob Cummings</span>
                            <a href="portfolio-item.html">Take a look</a>
                        </figcaption>
                    </figure>
                </div>
                                <div class="col-md-4 col-sm-6">
                                    <figure>
                                        <img src="img/portfolio/2.jpg" alt="img02">
                                        <figcaption>
                                            <h3>Music</h3>
                                            <span>Jacob Cummings</span>
                                            <a href="portfolio-item.html">Take a look</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <figure>
                                        <img src="img/portfolio/5.jpg" alt="img05">
                                        <figcaption>
                                            <h3>Safari</h3>
                                            <span>Jacob Cummings</span>
                                            <a href="portfolio-item.html">Take a look</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <figure>
                                        <img src="img/portfolio/3.jpg" alt="img03">
                                        <figcaption>
                                            <h3>Phone</h3>
                                            <span>Jacob Cummings</span>
                                            <a href="portfolio-item.html">Take a look</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <figure>
                                        <img src="img/portfolio/6.jpg" alt="img06">
                                        <figcaption>
                                            <h3>Game Center</h3>
                                            <span>Jacob Cummings</span>
                                            <a href="portfolio-item.html">Take a look</a>
                                        </figcaption>
                                    </figure>
                                </div>
                -->
            </ul>
        </div>
    </div>
</div>
<!-- Our Portfolio -->

<hr>

<!-- Our Clients -->
<div class="section">
    <div class="container">

        <div class="section-title">
            <h1>Nasi partnerzy</h1>
        </div>

        <div class="clients-logo-wrapper text-center row">
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="https://www.pan.pl/" target="_blank"><img
                    src="img/logos/logo_pan.png" alt="Polska Akademia Nauk"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="http://www.technologpark.pl/" target="_blank"><img
                    src="img/logos/wpt.png" alt="Wrocławski Park Technologiczny"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="http://hotbit.pl" target="_blank"><img
                    src="img/logos/logo-hotbit.png" alt="HotBit"></a></div>
            <!--
                                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-6.jpg" alt="Client Name"></a></div>
                                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-7.jpg" alt="Client Name"></a></div>
                                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-8.jpg" alt="Client Name"></a></div>
                                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-9.jpg" alt="Client Name"></a></div>
                                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-10.jpg" alt="Client Name"></a></div>
                                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-11.jpg" alt="Client Name"></a></div>
                                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-12.jpg" alt="Client Name"></a></div>
            -->
        </div>
    </div>
</div>
<!-- End Our Clients -->

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 4500, cycle: true
    })
  });
</script>
